.navigation {
  align-items: center;
  background-color: var(--header-menu);
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}

.link {
  margin: 0 1rem;
  color: var(--font-color);
  font-size: larger;
  text-decoration: none;
}
