.article-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 2rem 0;
}

.subtitle {
  color: var(--icons);
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}

.photo {
  border-radius: 8px;
  height: 160px;
  margin: 0 0 0.5rem 0;
}

.tags {
  color: var(--tags);
  font-size: 1rem;
  margin: 0 0.5rem;
}
