.vertical-table {
  display: flex;
  flex-direction: row;
}

.vertical-header {
  display: flex;
  flex-direction: column;
}

.vertical-header-cell {
  background-color: #f2f2f2;
  padding: 8px;
}

.vertical-data {
  display: flex;
  flex-direction: column;
}

.vertical-data-cell {
  padding: 8px;
}
